
<section id="hero-section">
  <div class="description">
      <h1>Welcome to Xprora Safari Tours and Travel</h1>
      <p>Discover the beauty of nature with fascinating tours and adventures.</p>
      <button>Plan a Tour Today</button>
  </div>
  <img id="pic" src="/assets/pics/ani.jpg" alt="pic">
</section>

<section id="plan-tour">
  <div class="description">
      <h2>Plan a Tour Today</h2>
      <p>Explore the diverse selection of activities and locations.</p>
      <button>Start Planning</button>
  </div>
<div class="contacts">
  <h4>contuct us on </h4>
     <div id="emaill">xprora@gmail.com</div>
     <a routerLink="/review">Review</a>
</div>



</section>