/* #navbar {
  background-color: #ecb9b9;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
} */
#emaill{
  color: rgb(51, 51, 175);
}

/* #navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 60px;
  display: flex;
  align-content: space-between;
  gap: 40px;
  
}

#navbar ul li {
  margin-right: 10px;
}

#navbar ul li a {
  color: #fff;
  text-decoration:none;
} */

#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#hero-section img {
  width: 50%;
  border-radius: 5px;
}

#hero-section .description {
  width: 45%;
}

#hero-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#hero-section p {
  font-size: 16px;
}

#plan-tour {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts{
  display: flex;
  flex-direction: column;
 line-height: 0;
}

#plan-tour h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

#plan-tour p {
  font-size: 16px;
  margin-bottom: 20px;
}

#plan-tour button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}
#pic{
  height: 250px;
  width: 200px;
}
.contacts{
  line-height: 30px;
  
}