<h1>Upcomming Events</h1>
    <div class="events-container">
        <div class="event">
            <img src="/assets/pics/4-days-Masai-Mara-luxury-safari.jpg" alt="Destination 1">
            <h2>Trip to massai mara</h2>
            <p>Duration: 3 days</p>
            <p>Price: $200</p>
        </div>
        <div class="event">
            <img src="/assets/pics/caption.jpg" alt="Destination 2">
            <h2>Trip to Watamu</h2>
            <p>Duration: from 10/12/2023 to 18/12/2020</p>
            <p></p>
            <p>Price: $400</p>
        </div>
        
        <div class="event">
            <img src="/assets/pics/Lake-Nakuru-National-PAK.jpg" alt="Destination 2">
            <h2>Trip to lake Nakuru</h2>
            <p>Duration: 5days</p>
            <p>Price: $250</p>
        </div>
       