

  <h1>Activities</h1>
  <div class="acti">
  <div class="activity">
    <img src="/assets/pics/ol-donyo-lodge.jpg" alt="Wildlife Tour">
    <div class="activity-details">
      <h2>Wildlife Tour</h2>
      <p>Relax and rejuvenate at a luxury safari lodge or tented camp, where you
         can enjoy spa treatments, massages, and breathtaking views of the surrounding 
         natural beauty.</p>
    </div>
  </div>
  
  <div class="activity">
    <img src="/assets/pics/Watamu-Diani-Lamu-Kenya-Beaches.png.webp" alt="Coastal Visits">
    <div class="activity-details">
      <h2>Coastal Visits</h2>
      <p>Explore the beautiful coastline and white sandy beaches of
         Diani or Malindi, where you can relax, swim, and go snorkeling or diving.. </p>
    </div>
  </div>
  
  <div class="activity">
    <img src="/assets/pics/maasai-mara-balloon.jpg" alt="Activity 1">
    <div class="activity-details">
      <h2>trip to massai mara</h2>
      <p>Take a hot air balloon ride over the Maasai Mara
        to spot the "Big Five" (lion, leopard, elephant, rhino, buffalo) and other wildlife.
      </p>
    </div>
  </div>
  
  <div class="activity">
    <img src="/assets/pics/african-cuisine.jpg" alt="Activity 2">
    <div class="activity-details">
      <h2>cultural diversity </h2>
      <p>Indulge in the local cuisine by trying traditional Kenyan dishes 
        such as nyama choma (grilled meat), ugali (maize porridge), 
        and sukuma wiki (collard greens).</p>
    </div>
  </div>
  
  <div class="activity">
    <img src="/assets/pics/C0068771-Lesser_flamingos_taking_off.jpg" alt="Activity 3">
    <div class="activity-details">
      <h2>wildlife </h2>
      <p>Take a boat tour on Lake Naivasha or Lake Nakuru to see thousands
         of flamingos, along with other bird species and wildlife.</p>
    </div>
  </div>
</div>
